@font-face {
    font-family: "Poppins" ;
    src: url("fonts/poppins.ttf");
}

html {
    font-family: "Poppins";
}

.container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.container:nth-child(odd) {
    background-color: #0475ba;
    color: white;

}

nav {
    background-color: #0475ba;
    height: 70px;
    color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
}

nav ul li {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5em;
    padding-top: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

div {
    padding: 40px;
}

.intro {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.h2-white {
    color: white;
}

.h2-blue {
    color: #0475ba;
}

.ABC {
    float: left;
    font-weight: bolder;
    font-size: 1.5rem;
    padding-top: 0px;
    text-align: center;
}

span {
    float: right;
}

.photo {
    border-radius: 50%;
    float: right;
}

.footer {
    display: flex;
    background-color: #0475ba;
}

.footer a {
    color: white;
}

.footer div {
    flex-direction: row;
}

.footer ul {
    list-style-type: none;
}

.form {
    width: 70%;
    margin-left: 10%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.formcontent {
    padding-top: 0px;
    padding-bottom: 0px;
}

input {
    width: 60%;
}

.btn {
    width: 20%;
}

@media screen and (max-width:600px) {

    html {
        font-size: 62.5%;

    }

    .mobile-intro {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .ABC {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: auto;
        font-size: 2.5rem;
    }
    
    .intro {
        flex-direction: column;
    }

    .intro div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul {
        padding-left: 0px;
    }

    .footer {
        flex-direction: column;
    }

    footer div {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    footer ul {
        padding-left: 0px;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .btn {
        font-size: 62.5%;
        width: 30%;
    }

    .contact {
        display: none;
    }

    textarea {
        width: 85%;
    }

}

@media screen and (max-width:320px) {

    .mobile-intro {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .content {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    input {
        width: 100%;
    }

    .btn {
        width: 100%;
    }

    .ABC {
        font-size: 2.5rem;
    }

    textarea {
        width: 100%;
    }

    form {
        font-size: 120%;
    }

    form textarea {
        width: 120%;
    }

    .photo {
        width: 100%;
        height: auto;
    }

}